[Unit]
Description=Check CRM System TLS renewal twice daily

[Timer]
OnCalendar=*-*-* 00,12:00:00
Persistent=true
RandomizedDelaySec=30m
Unit=crm-system-certbot-renew.service

[Install]
WantedBy=timers.target
