BRAND_ID=bau
BRAND_NAME=BAU
BRAND_LEGAL_NAME=Business Accelerator UKIM
BRAND_PRIMARY=#2f2f31
BRAND_ACCENT=#d2a23a
BRAND_SURFACE=#f7f5ef
BRAND_WEBSITE=https://bau.edu.mk
BRAND_SUPPORT_EMAIL=support@bau.edu.mk
PORTAL_DOMAIN=portal.bau.edu.mk
