BRAND_ID=digitmak
BRAND_NAME=DIGITMAK
BRAND_LEGAL_NAME=European Digital Innovation Hub DIGITMAK
BRAND_PRIMARY=#174f67
BRAND_ACCENT=#d29a2f
BRAND_SURFACE=#f2f7f8
BRAND_WEBSITE=https://digitmak.mk
BRAND_SUPPORT_EMAIL=support@digitmak.mk
PORTAL_DOMAIN=portal.digitmak.mk
