BRAND_ID=hpc
BRAND_NAME=HPC
BRAND_LEGAL_NAME=National Competence Centre for HPC, HPDA and AI
BRAND_PRIMARY=#173f5f
BRAND_ACCENT=#e1912b
BRAND_SURFACE=#f2f6f9
BRAND_WEBSITE=https://hpc.mk
BRAND_SUPPORT_EMAIL=support@hpc.mk
PORTAL_DOMAIN=portal.hpc.mk
