BRAND_ID=vezilka
BRAND_NAME=VEZILKA
BRAND_LEGAL_NAME=National AI Factory Antenna VEZILKA
BRAND_PRIMARY=#442b62
BRAND_ACCENT=#dc8b2c
BRAND_SURFACE=#f7f3fa
BRAND_WEBSITE=https://vezilka.mk
BRAND_SUPPORT_EMAIL=support@vezilka.mk
PORTAL_DOMAIN=portal.vezilka.mk
